n8n/workflow_linda_whatsapp_entrada.json
{
  "name": "L.I.N.D.A. \u2014 Entrada WhatsApp (Meta)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "linda-whatsapp",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "node-webhook-get",
      "name": "Webhook Verificaci\u00f3n GET",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 160],
      "webhookId": "linda-whatsapp-get"
    },
    {
      "parameters": {
        "jsCode": "// Meta env\u00eda GET con hub.challenge en query params\n// En n8n los query params llegan directo en $json\nconst challenge   = $json['hub.challenge']   || $json.query?.['hub.challenge']   || '';\nconst verifyToken = $json['hub.verify_token'] || $json.query?.['hub.verify_token'] || '';\nconst VERIFY_TOKEN = 'espartanos2026';\n\nif (!challenge || verifyToken !== VERIFY_TOKEN) {\n  return [{ json: { _ok: false, error: 'token invalido o sin challenge' } }];\n}\n\nreturn [{ json: { _ok: true, challenge } }];"
      },
      "id": "node-extraer-challenge",
      "name": "Extraer Challenge",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 160]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.challenge }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "node-respond-challenge",
      "name": "Responder Challenge",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [680, 160]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "linda-whatsapp",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "node-webhook-post",
      "name": "Webhook Mensajes POST",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 380],
      "webhookId": "linda-whatsapp-post"
    },
    {
      "parameters": {
        "jsCode": "// Extrae mensaje entrante del payload de Meta WhatsApp\nconst body    = $json.body || $json;\nconst entry   = body.entry?.[0];\nconst changes = entry?.changes?.[0]?.value;\nconst message = changes?.messages?.[0];\n\nif (!message || message.type !== 'text') {\n  return [{ json: { _ignorar: true } }];\n}\n\nconst telefono = message.from;\nconst texto    = message.text?.body || '';\n\nreturn [{\n  json: {\n    telefono,\n    mensaje: texto,\n    canal: 'whatsapp',\n    wa_id: message.id,\n    _ignorar: false\n  }\n}];"
      },
      "id": "node-extraer-mensaje",
      "name": "Extraer Mensaje",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 380]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false },
          "conditions": [{
            "leftValue":  "={{ $json._ignorar }}",
            "rightValue": false,
            "operator":   { "type": "boolean", "operation": "equals" }
          }]
        }
      },
      "id": "node-filtrar",
      "name": "\u00bfEs mensaje real?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 380]
    },
    {
      "parameters": {
        "method": "POST",
        "url":    "={{ $env.BACKEND_URL }}/agent/process",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "Content-Type", "value": "application/json" }]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ telefono: $json.telefono, mensaje: $json.mensaje, canal: 'whatsapp' }) }}",
        "options": { "timeout": 30000 }
      },
      "id": "node-llamar-linda",
      "name": "Llamar L.I.N.D.A.",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [920, 300]
    },
    {
      "parameters": {
        "jsCode": "const reply    = $input.first().json.reply || 'En este momento no podemos atenderte.';\nconst telefono = $('Extraer Mensaje').first().json.telefono;\nconst to = String(telefono).replace(/\\D/g, '');\nreturn [{ json: { to, mensaje: reply } }];"
      },
      "id": "node-preparar-respuesta",
      "name": "Preparar Respuesta",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1160, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url":    "=https://graph.facebook.com/v18.0/{{ $env.WHATSAPP_PHONE_NUMBER_ID }}/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.WHATSAPP_TOKEN }}" },
            { "name": "Content-Type",  "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ messaging_product: 'whatsapp', to: $json.to, type: 'text', text: { body: $json.mensaje } }) }}",
        "options": { "timeout": 15000 }
      },
      "id": "node-enviar-whatsapp",
      "name": "Enviar WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1400, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"ok\": true }",
        "options": {}
      },
      "id": "node-responder-meta",
      "name": "Responder 200 a Meta",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1640, 300]
    }
  ],
  "connections": {
    "Webhook Verificaci\u00f3n GET": { "main": [[{ "node": "Extraer Challenge",    "type": "main", "index": 0 }]] },
    "Extraer Challenge":          { "main": [[{ "node": "Responder Challenge",   "type": "main", "index": 0 }]] },
    "Webhook Mensajes POST":      { "main": [[{ "node": "Extraer Mensaje",       "type": "main", "index": 0 }]] },
    "Extraer Mensaje":            { "main": [[{ "node": "\u00bfEs mensaje real?",   "type": "main", "index": 0 }]] },
    "\u00bfEs mensaje real?": {
      "main": [
        [{ "node": "Llamar L.I.N.D.A.",    "type": "main", "index": 0 }],
        [{ "node": "Responder 200 a Meta", "type": "main", "index": 0 }]
      ]
    },
    "Llamar L.I.N.D.A.":   { "main": [[{ "node": "Preparar Respuesta",  "type": "main", "index": 0 }]] },
    "Preparar Respuesta":  { "main": [[{ "node": "Enviar WhatsApp",      "type": "main", "index": 0 }]] },
    "Enviar WhatsApp":     { "main": [[{ "node": "Responder 200 a Meta", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "LINDA" }, { "name": "whatsapp" }]
}
