n8n/workflow_IMPORTAR_n8n.json
{
  "name": "Agentes IA Cobranza WhatsApp — Espartanos QRO",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ai-cobranza",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "f47ac10b-58cc-4372-a567-0e02b2c3d479",
      "name": "Webhook Cobranza",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "ai-cobranza"
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// NODO 1: CODE ROUTER\n// Selecciona el agente correcto según bucket y fase.\n// Construye el prompt para Gemini.\n// ============================================================\n\n// Soporta tanto body anidado (n8n webhook default) como payload directo\nconst datos = $input.first().json.body || $input.first().json;\n\nconst bucket          = datos.bucket          || '1-7';\nconst fase            = datos.fase            || 'apertura';\nconst nombre          = datos.nombre_cliente  || 'cliente';\nconst pagos           = datos.pagos_vencidos  || 1;\nconst monto           = datos.monto_pago      || 0;\nconst saldo_vencido   = datos.saldo_vencido   || 0;\nconst ultima_gestion  = datos.ultima_gestion  || 'Sin gestión previa';\nconst telefono        = datos.telefono        || '';\n\n// ── Prompts de sistema por tipo de agente ──────────────────\nconst PROMPTS_SISTEMA = {\n\n  empatico:\n    `Eres un agente de cobranza empático y profesional de Libertad Financiera.\n     Tu objetivo es recuperar el pago sin agredir al cliente.\n     Usa lenguaje claro, humano y orientado a solución.\n     Invita a regularizar hoy de forma amable.\n     No uses amenazas ni lenguaje agresivo.\n     Responde ÚNICAMENTE con el mensaje de WhatsApp, sin comillas, sin explicaciones.`,\n\n  firme:\n    `Eres un agente de cobranza firme, directo y profesional de Libertad Financiera.\n     Tu objetivo es obtener pago o compromiso concreto hoy.\n     Sé claro con el atraso, el monto y la urgencia de regularizar.\n     Tono serio y respetuoso. Sin insultos ni amenazas ilegales.\n     Responde ÚNICAMENTE con el mensaje de WhatsApp, sin comillas, sin explicaciones.`,\n\n  conciliador:\n    `Eres un agente conciliador de cobranza de Libertad Financiera.\n     Busca una salida viable: pago total, pago parcial o fecha exacta de depósito.\n     Tono profesional, orientado a negociación y acuerdo.\n     Responde ÚNICAMENTE con el mensaje de WhatsApp, sin comillas, sin explicaciones.`,\n\n  cierre:\n    `Eres un agente de cierre de cobranza de Libertad Financiera.\n     Acción concreta: pago hoy, transferencia o fecha y hora exacta.\n     Máximo 4 líneas. Sin saludos largos. Sin rodeos.\n     Responde ÚNICAMENTE con el mensaje de WhatsApp, sin comillas, sin explicaciones.`\n};\n\n// ── Selección de agente ────────────────────────────────────\n// Regla 1: Si la fase es 'cierre' → siempre Agente Cierre\n// Regla 2: Bucket 61-90 / 91-120 → Conciliador\n// Regla 3: Bucket 31-60 → Firme\n// Default: Empático (0, 1-7, 8-15, 16-30)\nlet agente = 'empatico';\nif (fase === 'cierre') {\n  agente = 'cierre';\n} else if (['61-90', '91-120'].includes(bucket)) {\n  agente = 'conciliador';\n} else if (bucket === '31-60') {\n  agente = 'firme';\n}\n\n// ── Contexto de la cuenta ──────────────────────────────────\nconst contexto_cuenta =\n  `Genera un mensaje de WhatsApp de cobranza para ${nombre}.\\n` +\n  `Situación: ${pagos} pago(s) vencido(s) | Monto de pago: $${monto} MXN | ` +\n  `Saldo vencido: $${saldo_vencido} MXN | Bucket: ${bucket} días | Fase: ${fase}.\\n` +\n  `Última gestión registrada: \"${ultima_gestion}\".\\n` +\n  `El mensaje debe estar en español mexicano, ser profesional, máximo 5 líneas, ` +\n  `y solicitar una acción concreta hoy (pago, transferencia o fecha exacta).`;\n\n// ── Output ─────────────────────────────────────────────────\nreturn [{\n  json: {\n    // Datos originales completos (disponibles en nodos posteriores)\n    ...datos,\n    // Metadata del motor\n    agente_seleccionado: agente,\n    // Body para Gemini\n    gemini_body: {\n      contents: [{\n        parts: [{\n          text: PROMPTS_SISTEMA[agente] + '\\n\\n' + contexto_cuenta\n        }]\n      }],\n      generationConfig: {\n        temperature: 0.7,\n        maxOutputTokens: 300\n      }\n    }\n  }\n}];\n"
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-111111111111",
      "name": "Code Router",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://generativelanguage.googleapis.com/v1beta/models/gemini-1.5-flash:generateContent?key=AIzaSyDEzTo6kqFZT0rOFetV9oSZH_cXotDFfLw",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify($json.gemini_body) }}",
        "options": {
          "timeout": 30000,
          "response": {
            "response": {
              "fullResponse": false
            }
          }
        }
      },
      "id": "b2c3d4e5-f6a7-8901-bcde-222222222222",
      "name": "Gemini Genera Mensaje",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [760, 300]
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// NODO 2: CODE NORMALIZER\n// Extrae el texto de la respuesta de Gemini.\n// Recupera datos originales del Code Router.\n// ============================================================\n\nconst gemini   = $input.first().json;\nconst original = $('Code Router').first().json;\n\n// Extraer texto con fallbacks\nlet mensaje_ia = '';\ntry {\n  mensaje_ia =\n    gemini.candidates?.[0]?.content?.parts?.[0]?.text ||\n    gemini.text ||\n    gemini.response ||\n    gemini.output_text ||\n    JSON.stringify(gemini);\n} catch (e) {\n  mensaje_ia = 'Error al procesar respuesta de IA: ' + e.message;\n}\n\nmensaje_ia = mensaje_ia.trim();\n\n// Limpiar comillas envolventes que Gemini a veces añade\nif (mensaje_ia.startsWith('\"') && mensaje_ia.endsWith('\"')) {\n  mensaje_ia = mensaje_ia.slice(1, -1).trim();\n}\n\n// Verificar que el teléfono tenga formato internacional\nlet telefono = String(original.telefono || '').replace(/\\D/g, '');\nif (!telefono.startsWith('52') && telefono.length === 10) {\n  telefono = '52' + telefono; // Agregar código México si falta\n}\n\nreturn [{\n  json: {\n    status: 'ok',\n    mensaje_ia,\n    telefono,\n    agente_seleccionado: original.agente_seleccionado,\n    cliente_id:          original.cliente_id      || null,\n    nombre_cliente:      original.nombre_cliente  || 'cliente',\n    bucket:              original.bucket          || null,\n    fase:                original.fase            || null,\n    origen: 'gemini-espartanos'\n  }\n}];\n"
      },
      "id": "c3d4e5f6-a7b8-9012-cdef-333333333333",
      "name": "Code Normalizer",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1020, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v22.0/1111516238701437/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer TU_WHATSAPP_TOKEN"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ JSON.stringify({ messaging_product: 'whatsapp', to: $json.telefono, type: 'text', text: { body: $json.mensaje_ia } }) }}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "d4e5f6a7-b8c9-0123-defa-444444444444",
      "name": "WhatsApp Enviar Mensaje",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1280, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({\n  status:          $('Code Normalizer').first().json.status,\n  mensaje_ia:      $('Code Normalizer').first().json.mensaje_ia,\n  agente:          $('Code Normalizer').first().json.agente_seleccionado,\n  cliente_id:      $('Code Normalizer').first().json.cliente_id,\n  nombre_cliente:  $('Code Normalizer').first().json.nombre_cliente,\n  whatsapp_enviado: true,\n  origen:          $('Code Normalizer').first().json.origen\n}) }}",
        "options": {}
      },
      "id": "e5f6a7b8-c9d0-1234-efab-555555555555",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1540, 300]
    }
  ],
  "connections": {
    "Webhook Cobranza": {
      "main": [
        [
          {
            "node": "Code Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code Router": {
      "main": [
        [
          {
            "node": "Gemini Genera Mensaje",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Genera Mensaje": {
      "main": [
        [
          {
            "node": "Code Normalizer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code Normalizer": {
      "main": [
        [
          {
            "node": "WhatsApp Enviar Mensaje",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Enviar Mensaje": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "espartanos-qro"
  },
  "tags": [
    { "name": "cobranza" },
    { "name": "whatsapp" },
    { "name": "espartanos" }
  ]
}
